body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#userInput, #messageInput {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
    flex: 1;
}

#userInput {
    max-width: 20%;
}

#messageInput {
    max-width: 60%;
}

#sendButton {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#messagesList {
    list-style-type: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
}

    #messagesList li {
        background-color: #e9f5ff;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
        word-wrap: break-word;
    }

.username {
    font-weight: bold;
}

.timestamp {
    float: right;
    font-size: 0.85em;
    color: #888;
}

#clientCount {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
